# Environment variables for mcs-gmail
# Prefix: MCS_GMAIL_*

MCS_GMAIL_AUTH0_DOMAIN=
MCS_GMAIL_AUTH0_CLIENT_ID=
MCS_GMAIL_AUTH0_CLIENT_SECRET=
MCS_GMAIL_AUTH0_AUDIENCE=
MCS_GMAIL_LINKAUTH_BROKER_URL=
MCS_GMAIL_LINKAUTH_API_KEY=
